html {
  background-color: #fff;
}

body {
  cursor: default;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 0;
  min-width: 23em;
  font-family: 'Lucida Grande', 'Segoe UI', Tahoma, 'DejaVu Sans', Arial, sans-serif;
  font-size: 75%;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

img.logo {
  display: block;
  margin-left: 0;
  margin-right: auto;
  width: 35%;
}

button.btnPower {
  display: block;
  border: none;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: 25%;
}

button.btnPower:hover {
  opacity: 0.8;
}

img.power {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

div.vote {
  background-color: #007e81;


}

/* remove blue border when button clicked */
*:focus {outline:none !important}
