html {
  background-color: #fff;
}

body {
  cursor: default;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  min-width: 23em;
  font-family: 'Lucida Grande', 'Segoe UI', Tahoma, 'DejaVu Sans', Arial, sans-serif;
  font-size: 90%;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

img.logo {
  display: block;
  margin-left: 0;
  margin-right: auto;
  width: 45%;
}

button.btnPower {
  display: block;
  border: none;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: 30%;
}

button.btnPower:hover {
  opacity: 0.8;
}

img.power {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

button.vote {
  background-color: #007e81;
  border: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4%;
  padding-bottom: 4%;
  cursor: pointer;
  width: 100%;
  font-size: 100%;
  font-weight: bold;
  letter-spacing: 0.15em;
  color: #fff;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button.vote:hover {
  background-color: #0e999c;
}

/* remove blue border when button clicked */
*:focus {outline:none !important}
